# Cell Types

In [1]:
print ("Class X Advance Python - this is a python code")

Class X Advance Python - this is a python code

This is a markdown text

# this is markdown heading

## this is sub-heading

### this is sub-sub heading

#### this is sub-sub-sub heading

> Note that the heading is no more a separare <b> cell type </b>  , it is part of markdown as you saw
above.

 ### inserting an image 
 <img src="http://jupyter.org/assets/homepage/main-logo.svg">

# Python Variables

#### Rules for Python variables:
* A variable name must start with a letter or the underscore character.
* A variable name cannot start with a number.
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [2]:
Anushka = "AI Learner"
print ("Anushka")

Anushka

In [3]:
Class = 10
# print (CLass) - this will fail as CLass is not defined
print (Class)

10

In [4]:
# 1a = "test" will fail as this doesn't follow the syntax rule to be a valid python variable

In [5]:
_a = "test"
print (_a)

test

## Python Keywords

| Keyword | Description |
|---------|-------------|
|and |A logical operator|
|as	|To create an alias|
|assert	|For debugging|
|break	|To break out of a loop|
|class	|To define a class|
|continue	|To continue to the next iteration of a loop|
|def	|To define a function|
|del	|To delete an object|
|elif	|Used in conditional statements, same as else if|
|else	|Used in conditional statements|
|except	|Used with exceptions, what to do when an exception occurs|
|FALSE	|Boolean value, result of comparison operations|
|finally	|Used with exceptions, a block of code that will be executed no matter if there is an exception or not|
|for	|To create a for loop|
|from	|To import specific parts of a module|
|global	|To declare a global variable|
|if	|To make a conditional statement|
|import	|To import a module|
|in	|To check if a value is present in a list, tuple, etc.|
|is	|To test if two variables are equal|
|lambda	|To create an anonymous function |
|None	|Represents a null value|
|nonlocal	|To declare a non-local variable|
|not	|A logical operator|
|or	|A logical operator|
|pass	|A null statement, a statement that will do nothing|
|raise	|To raise an exception|
|return	|To exit a function and return a value|
|TRUE	|Boolean value, result of comparison operations|
|try	|To make a try...except statement|
|while	|To create a while loop|
|with	|Used to simplify exception handling|
|yield	|To end a function, returns a generator|

<b> The Python Package Index ([PyPI](https://www.pypi.org)) is a repository of software for the Python programming language. </b>
* PyPI helps you find and install software developed and shared by the Python community. 
* Package authors use PyPI to distribute their software. Learn how to package your Python code for PyPI.

# Python Data Types

<img src="https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg">

## Numeric

In [6]:
A = 10
B = 11.5
C = (-5+6j)
print(type(A))
print(type(B))
print(type(C))

<class 'int'>
<class 'float'>
<class 'complex'>

## Boolen

In [7]:
_1 = True
_0 = False
print("_1 is of type : " , type(_1))
print("_0 is of type : " , type(_0))
print("_1 corresponding integer value :" , int(_1))
print("_0 corresponding integer value :" , int(_0))

_1 is of type :  <class 'bool'>
_0 is of type :  <class 'bool'>
_1 corresponding integer value : 1
_0 corresponding integer value : 0

## Sequence

### Strings

In [8]:
str1 = "this is a string and as well a sentence"
str2 = 'this is string in single quotes'
str3 = '567'
str4 = 't'
str5 = """this 
is a 
multi-line
string"""

print(str1)
print(str2)
print(str3)
print(str4)
print(str5)

this is a string and as well a sentence
this is string in single quotes
567
t
this
is a
multi-line
string

In [9]:
i = str3[0] + str3[1] + str3[2]
print(i)
print(type (str3[0]))
j = int (str3[0])+ int(str3[1]) + int(str3[2])
print(j)

567
<class 'str'>
18

### List

In [10]:
thelist = [str1, str2, str3, str4, str5]
print(thelist)

['this is a string and as well a sentence', 'this is string in single quotes', '567', 't', 'this \nis a \nmulti-line\nstring']

In [11]:
thelist[0]

'this is a string and as well a sentence'

In [12]:
len(thelist)

5

In [13]:
thelist[2] = '789'
print(thelist)

['this is a string and as well a sentence', 'this is string in single quotes', '789', 't', 'this \nis a \nmulti-line\nstring']

In [14]:
print(type(thelist))

<class 'list'>

### Tuples (immutable - the elements can not be changed)

In [15]:
tupl = (str3, str5)
print(tupl)

('567', 'this \nis a \nmulti-line\nstring')

In [16]:
tupl[0]

'567'

In [17]:
# tupl[0] = 789 - this will result in error as tuples are immutable

## Set

In [18]:
set_1 = {"AI" , "IA" , "ML"}
set_2 = {"ML" , "DL" , "ML"}
print(set_1)
print(set_2)

{'IA', 'AI', 'ML'}
{'DL', 'ML'}

### union

In [19]:
print (set_1 | set_2)

{'DL', 'ML', 'IA', 'AI'}

### intersection

In [20]:
print (set_1 & set_2)

{'ML'}

### difference

#### (set_1 - set_2) - elements that are in set_1 but not in set_2

In [21]:
print(set_1 - set_2)

{'IA', 'AI'}

#### (set_2 - set_1) - elements that are in set_2 but not in set_1

In [22]:
print(set_2 - set_1)

{'DL'}

### symmetric difference - elements that are in both set_1 and set_2 except the common elements

In [23]:
print(set_1 ^ set_2)

{'IA', 'DL', 'AI'}

## Dictionary

<b> Dictionary contains key and value pairs </b>

In [24]:
student = {"First_Name" : "Anushka", "Last_Name" : "G."}
print(student)

{'First_Name': 'Anushka', 'Last_Name': 'G.'}

### accessing dictionary

In [25]:
student["First_Name"] + " " + student["Last_Name"]

'Anushka G.'

### add to dictonary

In [26]:
student["Last_Name"] = "Gujral"
print(student)

{'First_Name': 'Anushka', 'Last_Name': 'Gujral'}